{% extends "base.html" %}

{% load mezzanine_tags rating_tags keyword_tags ensemble_tags future %}

{% block meta_title %}{{ title|default:"Home" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% url "link_list_hot" as link_list_hot %}
{% url "link_list_consensus" as link_list_consensus %}
{% url "link_list_top" as link_list_top %}
{% url "link_list_latest" as link_list_latest %}
        
{% url "link_list_tag_hot" as link_list_tag_hot %}
{% url "link_list_tag_consensus" as link_list_tag_consensus %}
{% url "link_list_tag_latest" as link_list_tag_latest %}
{% url "link_list_tag_top" as link_list_tag_top %}

{% block main %}

<br>

{% if tag%}
	<a class="btn no-pjax" href="{% url "link_list_tag_hot" tag %}">Populares</a>
	<a class="btn no-pjax" href="{% url "link_list_tag_consensus" tag %}">Consenso</a>
	<a class="btn no-pjax" href="{% url "link_list_tag_latest" tag %}">Recientes</a>
	<a class="btn no-pjax" href="{% url "link_list_tag_top" tag %}">Más votadas</a>
{% else %}
	<a class="btn no-pjax" href="{% url "link_list_hot" %}">Populares</a>
	<a class="btn no-pjax" href="{% url "link_list_consensus" %}">Consenso</a>
	<a class="btn no-pjax" href="{% url "link_list_latest" %}">Recientes</a>
	<a class="btn no-pjax" href="{% url "link_list_top" %}">Más votadas</a>
{% endif %}


{% for link in object_list %}
<div class="link-item clearfix">
    {% if not profile_user %}{% rating_for link %}{% endif %}
    <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
        <h2>
            <a href="{{ link.url }}">{{ link.title }}</a> <br>
<!--            <span class="domain">({{ link.domain }})</span>-->
        </h2>
        
        autor: <a class="profile" href="{% url "profile" link.user.username %}">{{ link.user.profile }}</a> |
        hace {{ link.publish_date|short_timesince }} |
<!--        {% keywords_for link as tags %}-->
<!--        {% for tag in tags %}-->
<!--        <a href="{% url "link_list_tag" tag.slug %}">{{ tag }}</a> |-->
<!--        {% endfor %}-->
        {{ link.rating_count }} votos |
        {{ link.rating_average|addfloat:"1.0"|mult:"50"|floatformat:"0"}}% positivos |
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comentario{{ link.comments_count|pluralize }} </a>
        {% keywords_for link as tags %}
        {% if tags %}
        	<br> Sección:
        	{% for tag in tags %}
		    <a href="{% url "link_list_tag" tag.slug %}">{{ tag }}</a>
		    {% endfor %}
        {% endif %}
    </div>
</div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}

{% pagination_for object_list "page" "pjax" %}

{% endblock %}
