{% extends "base.html" %}

{% load mezzanine_tags rating_tags keyword_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ link.title }}{% endblock %}
{% block main %}
<div class="link-item clearfix">
    {% if not profile_user %}{% rating_for link %}{% endif %}
    <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
        <h2>
            <a href="{{ link.url }}">{{ link.title }}</a> <br>
<!--            <span class="domain">({{ link.domain }})</span>-->
        </h2>
        
        by <a class="profile" href="{% url "profile" link.user.username %}">{{ link.user.profile }}</a>
        {{ link.publish_date|short_timesince }} ago |
        {% keywords_for link as tags %}
        {% for tag in tags %}
        <a href="{% url "link_list_tag" tag.slug %}">{{ tag }}</a> |
        {% endfor %}
        {{ link.rating_count }} votos |
        {{ link.rating_average|addfloat:"1"|mult:"50"|floatformat:"0"}}% positivos |
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comment{{ link.comments_count|pluralize }} </a>
    </div>
</div>

<!--<span class="domain">({{ object.domain }})</span>-->

<div class="link-view">
    <p class="description">{{ object.description }}</p>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
